[Unit]
Description=AGTPS Portal Docker Compose Stack
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/AGTPS-Portal
ExecStart=/usr/bin/docker compose --env-file docker/.env -f docker/compose.yaml up -d
ExecStop=/usr/bin/docker compose --env-file docker/.env -f docker/compose.yaml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
